{% extends 'analysis/base.html' %}
{% block main %}
<div class="widget">
    <div class="title">File List</div>
    <table class="table table-responsive table-inverse col-md-12">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Test Name</th>
                <th>File</th>
                <th>Download</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr>
                <td>{{ test.pk }}</td>
                <td>{{ test.test_name }}</td>
                <td>{{ test.datafile.name }}</td>
                <td><a href="../../../{{ test.datafile.name }}">Download</a></td>
                <td> <a href="{% url 'analysis:analyze' test.pk %}">Analyze</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}